body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #70265c;
    color: white;
}

header {
    background-color: rgb(30, 4, 33);
    color: white;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9800;
}

footer {
    background-color: rgb(54, 20, 45);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(255, 255, 255, 0.1);
    font-size: 14px;
}

footer a {
    color: #ff9800;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

img {
    width: 450px;
    height: auto;
}

.center-block {
    text-align: center;
}

.center-flex {
    text-align: center;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.this {
    color: #ff00bb;
}

@media (max-width:768px) {

}

@media (max-width:480px) {

}
